//Linga
  @media only screen and (min-width: 320px) and (max-width: 575px) {
    .p{
      position: relative; left: 4px; top: 20px;
    }
    .pp
    {
      position: relative; left: -15px ; top: 24px;
    }
    #pqr
    {
      font-size: 17px; color: #8BA840; position: relative; left: -4px;
    }
    .milestone1a
    {
     
      display: block !important;
      position: relative !important;
      top: -204px !important;
      z-index: -1;
    }
    .milestone1 
    {
     
      display: block !important;
      position: relative !important;
      top: -204px !important;
      left: 6px !important;
    }
  
    .fontstyle
  {
    font-family: 'Montserrat';
  }
   
    .abc
  {
    font-size: 9px;
    font-family: 'Montserrat';
    padding: 20px;
  }
  
  .hover
  {
   
   display: block ;
    top: -171px !important;
  left: -94px !important;
  }
    .flex-container 
  {
    position: relative;
    margin-top: 100px;
    display:block; 
    left: 59px;
  
   }
  
  
   .hoveronimage
  {
    display: block;
    position: absolute;
     width: 69px; 
     left: -6px; 
     margin: 10px; 
     top: 20px;
  }
  
  
  
  .hovereffect2image
  {
    display: block;
    position: absolute;
     margin: 10px;
      top: 16px; 
      left: 100px;
       width: 69px;
  }
  
  .hovereffect3image3
  {
    display: block;
    position: absolute; margin: 10px; top: 16px; width: 69px;
  }
  
  
  .hovereffect4oneimage
  {
    display: block;
    position: absolute; margin: 10px; top: 16px;  width: 69px; right: -2px;
  }
   .milestone1
   {
   display: block !important;
    margin-top: -1158px !important;
  
   
   }
  
  
  
   
   .milestone2
   {
   display: block !important;
    margin-top: 100px !important;
   
   }
  
   .milestone3
   {
  display: block !important;
    margin-top: 100px !important;
   }
  
   .milestone4
   {
   display: block !important;
    margin-top: 100px !important;
   }
  
   .milestone5
   {
   display: block !important;
    margin-top: 100px !important;
   }
  
   .path
   {
    margin: auto;
    display: block;
   
  transform: rotate(90deg);
  margin: 1027px 0px 0px -952px;
   }
  
   .ellipse1
  {
    margin: auto;
    display: block;
    position: relative; 
    left: 65px;
     top: 270px !important;
  }
  
  
  .grid-container {
    left: 1px !important;
    font-size: 9px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
   
    padding: 10px;
    top: -562px;
    margin-top: 279px;
    margin-left: 16px;
   
  }
  
  .grid-container1 {
    left: -18px !important;
    grid-gap: 10px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
   
    padding: 10px;
    top: -269px;
    margin-top: -35px;
    margin-left: 4px;
   
  }
  
  
  .grid-container2 {
    font-size: 9px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
   
    padding: 10px;
    top: -291px;
    margin-top: 279px;
    margin-left: 16px;
   
  }
  
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
   
    .p{
      position: relative; left: 36px; top: 20px;
    }
    .pp
    {
      position: relative; left: -18px ; top: 24px;
    }
    #pqr
    {
    font-size: 17px; color: #8BA840; position: relative; left: 7px;
    }
  
    .a{
      margin: auto;
      display: block;
      position: relative;
      left: -52px !important;
      top: 11px;
  }
  
  .b
  {
    margin: auto;
    display: block;
    position: relative;
    left: -39px !important;
    top: 11px;
  }
  
  .c{
    margin: auto;
    display: block;
    position: relative;
    left: -35px !important;
    top: 11px;
  }
    .hover
  {
   
   display: block;
    top: -176px !important;
  
  }
  .fontstyle
  {
    font-family: 'Montserrat';
  }
  
    .abc 
  {
    font-family: 'Montserrat';
    font-size: 14px;
    padding: 20px;
  }
    .card
    {
      width: 300px !important;
    }
    .card11
    {
      width: 300px !important;
    }
    .card22
    {
      width: 300px !important;
    }
    .card33
    {
      width: 300px !important;
    }
    .card44
    {
      width: 300px !important;
    }
    .flex-container 
  {
    position: relative;
    margin-top: 100px;
    display:block; 
    left: 59px;
  
   }
  
  
   .hoveronimage
  {
    display: block;
    position: absolute;
     width: 69px; 
     left: -6px; 
     margin: 10px; 
     top: 20px;
  }
  
  
  
  .hovereffect2image
  {
    display: block;
    position: absolute;
     margin: 10px;
      top: 16px; 
      left: 100px;
       width: 69px;
  }
  
  .hovereffect3image3
  {
    display: block;
    position: absolute; margin: 10px; top: 16px; width: 69px;
  }
  
  
  .hovereffect4oneimage
  {
    display: block;
    position: absolute; margin: 10px; top: 16px;  width: 69px; right: -2px;
  }
   .milestone1
   {
    margin: auto;
    display: block;
    margin-top: -1230px !important;
  
   
   }
  
  
  
   
   .milestone2
   {
    margin: auto;
    display: block;
    margin-top: 100px !important;
   
   }
  
   .milestone3
   {
    margin: auto;
    display: block;
    margin-top: 100px !important;
   }
  
   .milestone4
   {
    margin: auto;
    display: block;
    margin-top: 100px !important;
   }
  
   .milestone5
   {
    margin: auto;
    display: block;
    margin-top: 100px !important;
   }
  
   .path
   {
    margin: auto;
    display: block;
   top: -325px !important;
  transform: rotate(90deg);
  margin: 1246px 0px 0px -901px;
   }
  
   .ellipse1
  {
    margin: auto;
    display: block;
    position: relative; 
    left: 115px !important;
     top: 270px !important;
  }
  .ellipse2
  {
    margin: auto;
    display: block;
    position: relative; 
    left: -135px !important;
     top: 148px !important;
  }
  
  
  
  .hover1
  {
    display: block;
    left: -41px !important;
  }
  .hoveronimage
  {
    display: block;
    left: 49px !important;
  }
  
  .hover2
  {
    display: block;
    left: -43px !important;
  }
  .hovereffect2image
  {
    display: block;
    left: 159px !important;
  }
  
  .hovereffect3
  {
    left: -44px !important;
  }
  
  .hovereffect3image3
  {
    display: block;
    left: 52px !important;
  }
  
  .hovereffect4
  {
    left: -45px !important;
  }
  
  .hovereffect4oneimage
  {
    display: block;
    right: 52px !important;
  }
  
  .highlight
  {
    display: block;
    left: 250px !important;
  }
  
  
  
  .grid-container {
    left: 21px !important;
    font-size: 9px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
   
    padding: 10px;
    top: -562px;
    margin-top: 279px;
    margin-left: 16px;
   
  }
  
  .grid-container1 {
    left: 0px !important;
    grid-gap: 10px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
   
    padding: 10px;
    top: -269px;
    margin-top: -35px;
    margin-left: 4px;
   
  }
  
  
  .grid-container2 {
    font-size: 9px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
   
    padding: 10px;
    top: -291px;
    margin-top: 279px;
    margin-left: 16px;
   
  }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
   
  
    .p{
      position: relative; left: 83px !important; top: 20px;
    }
    .pp
    {
      position: relative; left: -32px !important; top: 24px;
    }
    #pqr
    {
      font-size: 17px; color: #8BA840; position: relative; left: 24px !important;
    }
    .a{
      margin: auto;
      display: block;
      position: relative;
      left: -69px !important;
      top: 11px;
  }
  
  .b
  {
    margin: auto;
    display: block;
    position: relative;
    left: -55px !important;
    top: 11px;
  }
  
  .c{
    margin: auto;
    display: block;
    position: relative;
    left: -52px !important;
    top: 11px;
  }
    .hover
  {
   
    display: block;
   
    top: -176px !important;
  
  }
  .fontstyle
  {
    font-family: 'Montserrat';
  }
  
    .abc 
  {
    font-family: 'Montserrat';
    font-size: 17px;
    padding: 20px;
  }
    .card
    {
      width: 400px !important;
    }
    .card11
    {
      width: 400px !important;
    }
    .card22
    {
      width: 400px !important;
    }
    .card33
    {
      width: 400px !important;
    }
    .card44
    {
      width: 400px !important;
    }
    .flex-container 
  {
    position: relative;
    margin-top: 100px;
    display:block; 
    left: 257px;
  
   }
  
  
   .hoveronimage
  {
    display: block;
    position: absolute;
     width: 69px; 
     left: -6px; 
     margin: 10px; 
     top: 20px;
  }
  
  
  
  .hovereffect2image
  {
    display: block;
    position: absolute;
     margin: 10px;
      top: 16px; 
      left: 100px;
       width: 69px;
  }
  
  .hovereffect3image3
  {
    display: block;
    position: absolute; margin: 10px; top: 16px; width: 69px;
  }
  
  
  .hovereffect4oneimage
  {
    display: block;
    position: absolute; margin: 10px; top: 16px;  width: 69px; right: -2px;
  }
   .milestone1
   {
    margin: auto;
    display: block;
    margin-top: -1242px !important;
  
   
   }
  
  
  
   
   .milestone2
   {
    margin: auto;
    display: block;
    margin-top: 100px !important;
   
   }
  
   .milestone3
   {
    margin: auto;
    display: block;
    margin-top: 100px !important;
   }
  
   .milestone4
   {
    margin: auto;
    display: block;
    margin-top: 100px !important;
   }
  
   .milestone5
   {
    margin: auto;
    display: block;
    margin-top: 100px !important;
   }
  
   .path
   {
    margin: auto;
   
    display: block;
  transform: rotate(90deg);
  top: -326px !important;
  margin: 1246px 0px 0px -851px;
   }
  
   .ellipse1
  {
    margin: auto;
    display: block;
    position: relative; 
    left: 165px !important;
     top: 270px !important;
  }
  .ellipse2
  {
    margin: auto;
    display: block;
    position: relative; 
    left: -185px !important;
     top: 148px !important;
  }
  
  
  
  .hover1
  {
    display: block;
    left: -41px !important;
  }
  .hoveronimage
  {
    display: block;
    left: 49px !important;
  }
  
  .hover2
  {
    display: block;
    left: -43px !important;
  }
  .hovereffect2image
  {
    display: block;
    left: 159px !important;
  }
  
  .hovereffect3
  {
    left: -44px !important;
  }
  
  .hovereffect3image3
  {
    display: block;
    left: 52px !important;
  }
  
  .hovereffect4
  {
    left: -45px !important;
  }
  
  .hovereffect4oneimage
  {
    display: block;
    right: 52px !important;
  }
  
  .highlight
  {
    display: block;
    left: 343px !important;
  }
  
  .p{
    position: relative; left: 4px; top: 20px;
  }
  .pp
  {
    position: relative; left: -15px ; top: 24px;
  }
  #pqr
  {
    font-size: 17px; color: #8BA840; position: relative; left: -1px;
  }
  
  
  
  .grid-container {
    left: 39px !important;
    font-size: 9px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
   
    padding: 10px;
    top: -562px;
    margin-top: 279px;
    margin-left: 16px;
   
  }
  
  .grid-container1 {
    left: 18px !important;
    grid-gap: 10px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
   
    padding: 10px;
    top: -269px;
    margin-top: -35px;
    margin-left: 4px;
   
  }
  
  
  .grid-container2 {
    font-size: 9px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
   
    padding: 10px;
    top: -291px;
    margin-top: 279px;
    margin-left: 16px;
   
  }
  
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px){
  
    .p{
      position: relative; left: 4px; top: 20px;
    }
    .pp
    {
      position: relative; left: -15px ; top: 24px;
    }
    #pqr
    {
      font-size: 17px; color: #8BA840; position: relative; left: -7px;
    }
    .fontstyle
  {
    font-family: 'Montserrat';
  }
    .abc
    {
      font-size: 9px;
      font-family: 'Montserrat';
    padding: 20px;
    }
  
  .flex-container
  {
    padding-top: 65px;
    display: flex;
    overflow: hidden;
  }
  
  }
  
  .flex-container > div {
  
    margin: 22px;
  }
  
  .card{
    width: 200px;
    height: 366px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    background: #FFFFFF;
    }
  
  .card11{
  width:200px;
  height: 366px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.19);
  border-radius: 6px;
  background: #FFFFFF;
  }
  
  
  .card22{
    width: 200px;
    height: 366px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    background: #FFFFFF;
    }
  
    .card33{
      width: 200px;
      height: 366px;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.19);
      border-radius: 6px;
      background: #FFFFFF;
      }
  
      .card44{
        width: 200px;
        height: 366px;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.19);
        border-radius: 6px;
        background: #FFFFFF;
        }
  
  #headername{
  position: relative;
  width: 104px;
  height: 27px;
  left: 15px;
  top: 26px;
  font-family: montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  align-items: center;
  text-align: center;
  color: #302C2C;
  }
  
  .grid-container {
   
    font-size: 9px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
   
    padding: 10px;
    top: -562px;
    margin-top: 279px;
    margin-left: 16px;
   
  }
  
  .grid-container1 {
    left: -21px;
    grid-gap: 10px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
   
    padding: 10px;
    top: -269px;
    margin-top: -35px;
    margin-left: 4px;
   
  }
  
  
  .grid-container2 {
    font-size: 9px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
   
    padding: 10px;
    top: -291px;
    margin-top: 279px;
    margin-left: 16px;
   
  }
  
  .path
  {
   
  overflow: hidden;
  position: relative;
  
  height: 50px;
  width: 2100px;
  top:-106px;
  z-index: -1;
  }
  
  
  
  .milestone1
  {
    margin: auto;
    display: block;
    position: relative;
    top: -357px;
  }
  
  .milestone1a
  {
    margin: auto;
    display: block;
    position: relative;
    top: -359px;
    z-index: -1;
  }
  
  .milestone2
  {
    margin: auto;
    display: block;
    position: relative;
    top: -52px;
  }
  
  .milestone2a
  {
    margin: auto;
    display: block;
    position: relative;
    top: -52px;
    z-index: -1;
  }
  
  .milestone3
  {
    margin: auto;
  display: block;
    position: relative;
    top: -52px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .milestone3a
  {
    margin: auto;
    display: block;
    position: relative;
    top: -52px;
    z-index: -1;
  }
  .milestone4
  {
    margin: auto;
    display: block;
    position: relative;
    top: -52px;
  }
  
  .milestone4a
  {
    margin: auto;
    display: block;
    position: relative;
    top: -52px;
    z-index: -1;
  }
  
  .milestone5
  {
    margin: auto;
    display: block;
    position: relative;
    top: -52px;
  }
  
  
  .milestone5a
  {
    margin: auto;
    display: block;
    position: relative;
    top: -52px;
    z-index: -1;
  }
  
  .ellipse1
  {
    margin: auto;
    display: block;
    position: relative; 
    left: 65px;
    top: 253px;
  }
  
  .ellipse2
  {
    margin: auto;
    display: block;
    position: relative;
    left: -85px; 
    top: 147px;
  }
  
  .info
  {
    position: relative;
    top: -64px;
  }
  
  
  .hover
  {
    display: block;
    position:absolute;
    height: 20px; 
  width: 333px;
  margin: 10px;
  top: -195px;
  left: -32px;
  }
  
  .hover1
  {
    display: block;
    position:absolute;
    height: 20px; 
  width: 333px;
  margin: 10px;
  top: -120px;
  left: -94px;
    
  }
  
  .checkbox1{
    position: relative; 
    top: -177px;
  }
  
  .highlight{
    display: block;
    position: absolute; 
    margin: 10px; 
    top: -15px;
     left: 140px;
  }
  
  .hoveronimage
  {
    display: block;
    position: absolute;
     width: 69px; 
     left: -6px; 
     margin: 10px; 
     top: 20px;
  }
  
  .completed
  {
    text-align: center; 
    color: #8BA840; 
    background-color: rgba(139, 168, 64, 0.14);
  }
  .timing
  {
    text-align: center;
    color: #9D9D9D;
  }
  
  .year
  {
    text-align: center; color: #8BA840;
  }
  
  .hover2
  {
    display: block;
    position:absolute;
    height: 20px; 
  width: 333px;
  margin: 10px;
  top: -120px;
  left: -98px;
  }
  
  .card2inside
  {
    position: relative;
     top: -177px;
  }
  
  
  .hovereffect2
  {
    display: block;
    color: #DAAA1B; 
    background-color: rgba(218, 170, 27, 0.14);
  }
  
  .hovereffect2image
  {
    display: block;
    position: absolute;
     margin: 10px;
      top: 16px; 
      left: 100px;
       width: 69px;
  }
  
  .completed2
  {
    text-align: center;color: #DAAA1B; background-color: rgba(218, 170, 27, 0.14);
  }
  
  .timing2
  {
    text-align: center;
    color: #9D9D9D;
  }
  
  .year2
  {
    color: #DAAA1B; text-align: center;
  }
  
  .hovereffect3
  {
    display: block;
    position:absolute;
    height: 20px; 
  width: 333px;
  margin: 10px;
  top: -120px;
  left: -97px;
  }
  .checkbox3
  {
    position: relative; top: -177px;
  }
  
  .hovereffect3image
  {
    display: block;
    color: #1691D3; background-color: rgba(22, 145, 211, 0.14);
  }
  
  .hovereffect3image3
  {
    display: block;
    position: absolute; margin: 10px; top: 16px; width: 69px;
  }
  
  .business
  {
    text-align: center;
  }
  .completed3
  {
    color: #1691D3; background-color: rgba(22, 145, 211, 0.14); text-align: center;
  }
  .timing3
  {
    text-align: center;
    color: #9D9D9D;
  }
  
  .year3
  {
    color: #1691D3; text-align: center;
  }
  
  .hovereffect4
  {
    position:absolute;
    height: 20px; 
  width: 333px;
  margin: 10px;
  top: -120px;
  left: -97px;
  }
  .card4info
  {
    position: relative; top: -177px;
  }
  
  .hovereffect4one
  {
    display: block;
    color: #1691D3; background-color: rgba(22, 145, 211, 0.14);
  }
  
  .hovereffect4oneimage
  {
    display: block;
    position: absolute; margin: 10px; top: 16px;  width: 69px; right: -2px;
  }
  
  .card4infoone
  {
    text-align: center;
  }
  
  .completed4
  {
    color: #C42026; background-color: rgba(196, 32, 38, 0.14); text-align: center;
  }
  
  .timing4
  {
    text-align: center;
    color: #9D9D9D;
  }
  .year4
  {
    color: #1691D3; text-align: center; color: #C42026;
  }
  
  .fontstyle
  {
    font-family: 'Montserrat';
    
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url(/assets/Montserrat/Montserrat-VariableFont_wght.ttf);
  }
  
  .grid-item1
  {
    color: #809FB8;
    position: relative;
    left: 20px;
  }
  
  .grid-item
  {
    color: #1AD598; position: relative; top: -12px;
  }
  
  .a
  {
    margin: auto;
    display: block;
    position: relative; left:-33px ;top: 11px;
  }
  .b{
    margin: auto;
    display: block;
    position: relative; left:-19px ;top: 11px;
  }
  .c
  {
    margin: auto;
    display: block;
    position: relative; left:-16px ;top: 11px;
  }
  
  .d
  {
    display: block;
    margin: auto;
  position: relative; left: 14px;
  }
  .e
  {
    margin: auto;
    display: block;
    position: relative; left: 17px; color: #EA3A3D;
  }
  
  @media only screen and (min-width: 1199px) {
  
    .milestone1a {
      margin: auto;
      display: block;
      position: relative;
      top: -365px !important;
      z-index: -1;
  }
    .flex-container
  {
    margin-left: 136px;
    display: flex;
    overflow: hidden;
    padding-top: 65px;
  }
  
  .p{
    position: relative; left: 4px; top: 20px;
  }
  
  .pp
  {
   position: relative; left: -15px ; top: 24px;
  }
  #pqr
  {
  font-size: 17px; color: #8BA840; position: relative; left: -6px;
  }
  .milestone1{
  top: -365px;
  }
  .milestone1a
  {
    top: -362px;
  }
  .path{
    top: -118px;
  }
  }

  
.containerabc{
    opacity: 0.2;
}

.transperent{
  opacity: 0.2;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  