<!-- Amith -->
<footer
  class="main"
  id="blur"
  [ngClass]="{
    containerabc: showModal,
    transperent: arrow
  }"
>
  <div class="container">
    <div class="row1">
      <div class="card1">
        <h4>Exclusive Course</h4>
        <span class="pro" id="pro">
          Get Started With <br />
          Go Programming
          <button class="pro-button">PRO</button>
        </span>
        <h3 id="card1-h3">Start time 5th Nov 2020</h3>
        <div>
          <button
            class="box-button"
            id="regnow"
            type="button"
            value="Register Now"
            onclick=" window.open('http://google.com','_blank')"
          >
            Register Now
          </button>
        </div>
        <img class="background-arch" src="../../assets/images/Mask group.svg" />
      </div>
      <div class="card2">
        <div class="section-1">
          <div class="bibliophile">
            <img src="../../assets/images/Bibliophile-rafiki.svg" />
          </div>
          <div class="sec-one">
            <h3 id="card2-h3">What would you want to learn today</h3>
          </div>
          <div class="sec-two">
            <h4 id="card2-h4">
              Your learning capacity is 80% as daily analytics
            </h4>
          </div>
          <!-- progress-bar -->
          <div class="p-bar">
            <label for="HTML5">35% Completed</label>
            <br />
            <div class="progress-container round-xlarge" id="prgrs">
              <div class="progressbar round-xlarge" style="width: 35%"></div>
            </div>
          </div>
        </div>
        <div class="section-2">
          <div class="sec-center">
            <h3>Get started with new basic skills</h3>
            <h5>Last Date 5th Nov 2020</h5>
          </div>
          <hr />
          <div>
            <button
              class="box-button"
              type="button"
              value="Register Now"
              onclick=" window.open('http://google.com','_blank')"
            >
              Register Now
            </button>
          </div>
          <div class="user-image">
            <img src="../../assets/images/Group 33759.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="row2">
      <div class="card3">
        <div class="astronaut">
          <div class="astro-img" id="astro">
            <img class="astro1-img" src="../../assets/images/Astronaut.svg" />
          </div>
          <div class="anime">
            <div class="auditing">
              <lottie-player
                src="../../assets/json/Auditing (2).json"
                background="transparent"
                id="audit"
                speed="1"
                loop
                autoplay
              >
              </lottie-player>
            </div>
            <div class="business">
              <lottie-player
                src="../../assets/json/business (1).json"
                background="transparent"
                id="busi"
                speed="1"
                loop
                autoplay
              >
              </lottie-player>
            </div>
            <div class="finance">
              <lottie-player
                src="../../assets/json/Finance (1).json"
                background="transparent"
                id="fin"
                speed="1"
                loop
                autoplay
              >
              </lottie-player>
            </div>
            <div class="regulations">
              <lottie-player
                src="../../assets/json/regulations.json"
                background="transparent"
                id="reg"
                speed="1"
                loop
                autoplay
              >
              </lottie-player>
            </div>
          </div>
        </div>
      </div>
      <div class="card4">
        <div class="miles-logo">
          <img src="../../assets/images/Miles-Logo.svg" />
        </div>
        <div class="footer-secthird">
          <h1 id="card4-h1">
            Don't stop,<br />
            Make it happen !
          </h1>
        </div>

        <div class="footer-secfourth">
          <table>
            <tr class="">
              <td class="craft">Crafted with</td>
              <td class="heart">
                <img src="../../assets/images/heart shape.svg" />
              </td>
              <td class="craft">in India</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</footer>
